version: '3.9'

services:
  spark-app:
    image: timebertt/refuel-spark-app
    build:
      context: spark-app
    entrypoint: /bin/bash
    command: -c "sleep 1000"
    tty: true
    restart: always
    working_dir: /spark-app
    volumes:
    - ./spark-app:/spark-app
    - ./data:/data
    environment:
      MODE: local
  web-app:
    image: timebertt/refuel-web-app
    build:
      context: web-app
    restart: always
    ports:
    - 5555:5555
    environment:
      MYSQL_HOST: mysql
  mysql:
    image: mysql
    ports:
    - 3306:3306
    environment:
      MYSQL_DATABASE: prices
      MYSQL_ROOT_PASSWORD: mysecretpw
    volumes:
    - ./data/mysql-dump.sql:/docker-entrypoint-initdb.d/mysql-init.sql
  memcached:
    image: memcached:1.6-alpine
    ports:
    - 11211:11211
