apiVersion: batch/v1
kind: Job
metadata:
  name: download-raw-data
  labels:
    app: download-raw-data
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: download-raw-data
        image: danisla/hadoop:2.9.0
        imagePullPolicy: IfNotPresent
        command:
        - bash
        - -ec
        - |
          for f in prices stations ; do
            echo "### fetching $f data from Azure"
            curl --progress-bar -Lo /data/$f-2021-11.zip "https://dev.azure.com/tankerkoenig/tankerkoenig-data/_apis/git/repositories/tankerkoenig-data/items?path=/$f/2021/11&versionDescriptor%5BversionOptions%5D=0&versionDescriptor%5BversionType%5D=0&versionDescriptor%5Bversion%5D=master&resolveLfs=true&%24format=zip&api-version=5.0&download=true"
            echo "### unzipping $f data"
            mkdir -p /data/$f/2021
            unzip /data/$f-2021-11.zip -d /data/$f/2021
          done

          echo "### uploading data to hdfs"
          hdfs dfs -mkdir -p /input
          hdfs dfs -put /data/{prices,stations} /input

          echo "### Success!"
        env:
        - name: HADOOP_CONF_DIR
          value: "/hadoop-config/"
        - name: HADOOP_USER_NAME
          value: "root"
        volumeMounts:
        - name: hadoop-conf-volume
          mountPath: /hadoop-config
        - name: data
          mountPath: /data
      volumes:
      - name: hadoop-conf-volume
        configMap:
          name: popular-slides-spark-hadoop-conf
      - name: data
        emptyDir: {}

