{% extends "layout.html" %}

{% block content %}


<div class="jumbotron">
    <h1>Wann ist der beste Zeitpunkt zum Tanken?</h1>
    <br>
    <p class="lead">Die Preise von Kraftstoffen variieren je nach Uhrzeit und Ort sehr stark. <br> H&auml;ufig &auml;ndern einzelne Tankstellen ihre Preise vier- bis f&uuml;nfmal pro Tag. </p>
    <p class="lead">F&uuml;lle die folgenden Felder aus und erhalte einen Überblick, wann das Tanken in Deiner Gegend in der letzten Woche am g&uuml;nstigsten war. </p>
    <br>
    <form method="get" action="/result">
        <label for="Kraftstoff">Kraftstoff</label>
        <br>
        <select name="kraftstoff" id="kraftstoff">
            <option value="diesel">Diesel</option>
            <option value="e5">e5</option>
            <option value="e10">e10</option>
        </select>
        <br>
        <br>
        <label for="plz">PLZ</label>
        <br>
        <input type="text" name="plz" />
        <br>
        <br>
        <input type="submit" value="Suche starten" class="btn btn-primary btn-large"><br>
    </form>
    
</div>



{% endblock %}
