{% extends "layout.html" %}

{% block content %}


<div class="jumbotron">
    <h1>Finde jetzt die g&uuml;nstigste Tankstelle in deiner N&auml;he</h1>
    <br>
    <p class="lead">Die Preise von Kraftstoffen variieren je nach Uhrzeit und Ort sehr stark. <br> H&auml;ufig &auml;ndern einzelne Tankstellen ihre Preise vier- bis f&uuml;nfmal pro Tag. </p>
    <p class="lead">F&uuml;lle einfach die folgenden Felder aus und finde die g&uuml;nstigste Tankstelle. </p>
    <br>
    <form method="get">
        <label for="ort">Kraftstoff</label>
        <br>
        <select name="kraftstoff" id="kraftstoff">
            <option value="diesel">Diesel</option>
            <option value="e5">e5</option>
            <option value="e10">e10</option>
        </select>
        <br>
        <br>
        <label for="ort">PLZ</label>
        <br>
        <input type="text" name="Ort" />
        <br>
        <br>
        <label for="wochentag">Wochentag</label>
        <br>
        <select name="zeit" id="zeit">
            <option value="1">montags</option>
            <option value="2">dienstags</option>
            <option value="3">mittwochs</option>
            <option value="4">donnerstags</option>
            <option value="5">freitags</option>
            <option value="6">samstags</option>
            <option value="6">sonntags</option>
        </select>
        <br>
        <br>
    </form>
    <p><a href="{{ url_for('result') }}" class="btn btn-primary btn-large">Suche starten &raquo;</a></p>
</div>



{% endblock %}
